* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 400px) {
  .container {
    transform: scale(0.9);
  }
}
section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #121321;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
section::before {
  content: "";
  position: absolute;
  height: 240px;
  width: 240px;
  background: linear-gradient(90deg, #9c27b0, #f3f5f5);
  border-radius: 50%;
  transform: translate(-150px, -100px);
}

section::after {
  content: "";
  position: absolute;
  height: 240px;
  width: 240px;
  background: linear-gradient(90deg, #9c27b0, #f3f5f5);
  border-radius: 50%;

  transform: translate(150px, 100px);
}
.container {
  position: relative;
  height: 225px;
  width: 375px;
  z-index: 100;
}
.container .cart {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 25px;
  background: rgba(225, 225, 225, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(225, 225, 225, 0.1);
}

.front-face .chip1 {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 80px;
  height: 60px;

  position: absolute;
}
.front-face .logo1 img {
  width: 45px;
  height: 50px;
  margin-top: 155px;
  margin-left: 290px;
}
.container {
  position: relative;
  height: 225px;
  width: 375px;
  transition: 0.6s;
  z-index: 100;
  transform-style: preserve-3d;
}
.container:hover{
    transform: rotateY(180deg);
}
.container .card {
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgb(225, 225, 225, 0.1);
  border-radius: 25px;
  backdrop-filter: blur(25px);
  box-shadow: 0 25px 45px rgb(0, 0, 0, 0.25);
  border: 1px solid rgb(225, 225, 225, 0.1);
  backface-visibility: hidden;
}
.card-details {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 20px;
  /* color: #ffffffc4; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 900;
}

.card-details .name-number {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-details .valid-date {
  text-align: right;
}
.card-details .name-number .number {
  margin-bottom: 7%;
  margin-left: 6px;
  font-size: 16px;
  color: #ffffffc4;
}
.card-details .name-number .name {
  margin-left: 8px;
  color: #ffffffc4;
  font-size: 15px;
}
.card-details .name-number span {
  margin-left: 6px;
  font-size: 14px;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.907);
}
.card.back-face {
  border: none;
  padding: 15px 25px 25px 25px;
  transform: rotateY(180deg);
  position: relative;
  padding-top: 65px;
}
.card.back-face h6 {
  font-size: 8px;
}


.card.back-face .magnetic-strip {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 45px;
  background: linear-gradient(
    90deg,
    #111,
    #000,
    #222
  );
  border-radius: 5px;
}

.card.back-face .signature {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 6px;
  height: 40px;
  width: 85%;
  background: repeating-linear-gradient(
    #fff,
    #fff 3px,
    #efefef 0px,
    #efefef 9px
 
    );
    /* bottom: 10px; */
}
.signature i {
  color: #000;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: -30px;
  z-index: -1;
}
.card.back-face h5{
    font-size: 8px;
    margin-top: 15px;
}
.card.back-face h6{
  margin-top: 12px;
    /* margin-left: 20px; */
    margin-right: 22px;
}

